@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Jost:wght@400;500;600&family=Nunito:wght@400;500&family=Outfit:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
body {
  height: 300vh;
}
html {
  scroll-behavior: smooth;
}
.text-span-1 {
  background-image: linear-gradient(60deg, #ff3a7c, #741eff);
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.2;
}
.text-span-2 {
  font-weight: 600;
}
.text-span-desc {
  color: #4d4d4d;
  font-size: 1.125rem;
}
.scroll--section {
  padding: 2rem;
  margin: 1rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  grid-template-areas: "text video" "text1 video" "text2 video";
}

.video {
  height: 700px;
  width: 700px;
  position: sticky;
  top: 0;
  border-radius: 5rem;
}
.media-section {
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
}
.text-section {
  grid-area: text;
}
.text-section1 {
  grid-area: text1;
}
.text-section2 {
  grid-area: text2;
}
